@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'GeistSans', sans-serif;
  --font-league-spartan: 'League Spartan', sans-serif;
}

/* for dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .ps {
    @apply font-spartan text-5xl font-bold tracking-[-5px] text-zinc-50;
  }

  .track {
    @apply font-spartan text-5xl font-bold tracking-[-1px] text-zinc-50;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e2f;
  height: 10px;
  width: 10px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #44475a;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #434e70;
}

::-webkit-scrollbar-corner {
  background: #1e1e2f;
}
